body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: 400;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
}

q:before,q:after {
    content: '';
}

abbr,acronym {
    border: 0;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
    display: block;
    zoom: 1;
}

audio,canvas,video {
    display: inline-block;
    display: inline;
    zoom: 1;
}

html {
    font-size: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #333;
    font-family: omnes-pro,Arial;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
    margin: 0;
}

.container {
    height: auto;
    margin: 0 2%;
    overflow: auto;
    width: 96%;
}

h1,h2,h3,h4 {
    color: #141414;
    font-family: omnes-pro,Arial;
    margin: 1em 0 .35em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

small {
    font-size: .85em;
}

ul li {
    list-style: none;
}

ol li {
    list-style: none;
}

strong,b {
    font-weight: 700;
}

em,i {
    font-style: italic;
}

p {
    margin-bottom: 1em;
}

img,object,embed {
    height: auto;
    max-width: 100%;
}

blockquote {
    background: #eb7260;
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
    margin: 0 0 20px 20px;
    padding: 9px 20px 19px;
}

a {
    color: #fff;
    text-decoration: underline;
    outline: 0;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:focus,a:active {
    outline: none;
}

.demo a {
    color: #eb7260;
}

.demo a:hover {
    color: #eb7260;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    color: #141414;
}

a.button {
    background: #16a085;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    outline: 0 none;
    padding: 7px 15px;
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

a.button:hover {
    background: #1abc9c;
    text-decoration: none;
}

a.button:active {
    opacity: 0.9;
}

a.button {
    background: #eb7260;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    outline: 0 none;
    padding: 7px 15px;
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

a.button:hover {
    background: #1abc9c;
    text-decoration: none;
}

a.button:active {
    opacity: 0.9;
}

a.red {
    background: #ef8e80;
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-size: .9em;
    letter-spacing: .01em;
    position: relative;
    text-decoration: none;
    top: -5px;
    width: auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 2px 0 1px rgba(192,57,43,0.8);
    -moz-box-shadow: 2px 2px 0 1px rgba(192,57,43,0.8);
    -o-box-shadow: 2px 2px 0 1px rgba(192,57,43,0.8);
    box-shadow: 2px 2px 0 1px rgba(192,57,43,0.8);
    -webkit-box-shadow: 2px 2px 0 1px #ef8e80;
    -moz-box-shadow: 2px 2px 0 1px #ef8e80;
    -o-box-shadow: 2px 2px 0 1px #ef8e80;
    box-shadow: 2px 2px 0 1px #ef8e80;
    -webkit-transition: all .3s ease-in-out 0;
    -moz-transition: all .3s ease-in-out 0;
    -o-transition: all .3s ease-in-out 0;
    transition: all .3s ease-in-out 0;
    -webkit-animation: all 1s ease-in-out 0;
    -moz-animation: all 1s ease-in-out 0;
    -o-animation: all 1s ease-in-out 0;
    animation: all 1s ease-in-out 0;
}

a.red:hover {
    background: #ef8e80;
    top: -2px;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 0 1px #c0392b;
    -moz-box-shadow: 2px 2px 0 1px #c0392b;
    -o-box-shadow: 2px 2px 0 1px #c0392b;
    box-shadow: 2px 2px 0 1px #c0392b;
}

a.red:active {
    opacity: 0.9;
}

a.download {
    background: #1abc9c;
    left: 40px;
    padding: 15px 15px 10px;
    position: absolute;
    text-decoration: none;
    top: -10px;
    -webkit-box-shadow: 0 0 0 0 #e16659;
    -moz-box-shadow: 0 0 0 0 #e16659;
    -o-box-shadow: 0 0 0 0 #e16659;
    box-shadow: 0 0 0 0 #e16659;
    -webkit-transition: all .3s ease-in-out 0;
    -moz-transition: all .3s ease-in-out 0;
    -o-transition: all .3s ease-in-out 0;
    transition: all .3s ease-in-out 0;
}

a.download:hover {
    top: -5px;
    -webkit-box-shadow: 0 0 0 0 #e16659;
    -moz-box-shadow: 0 0 0 0 #e16659;
    -o-box-shadow: 0 0 0 0 #e16659;
    box-shadow: 0 0 0 0 #e16659;
}

.download.button.homepage {
    left: 200px;
}

a.button-full-width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    width: 100%;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,textarea {
    background: #FFF;
    border: 1px solid #ccc;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    outline: none;
    padding: 6px 1%;
    width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input {
    max-width: 200px;
}

textarea {
    max-width: 400px;
}

textarea,input,.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hide {
    display: none;
}

.center-align {
    text-align: center;
}

.row {
    height: auto;
    margin: 50px 0;
    overflow: auto;
}

.grid .one_four,.grid .two_four,.grid .three_four,.grid .four_four,.grid .one_three,.grid .two_three,.grid .three_three,.grid .one_two,.grid .two_two,.grid .two_third,.grid .one_third {
    background: #eb7260;
    color: #fff;
    height: 50px;
}

.one_four,.two_four,.three_four,.four_four,.one_three,.two_three,.three_three,.one_two,.two_two,.two_third,.one_third {
    float: left;
    height: auto;
    overflow: auto;
    padding: 1px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.one_four,.two_four,.three_four,.four_four,.one_three,.two_three,.three_three,.one_two,.two_two,.two_third,.one_third {
    float: left;
    margin-bottom: 10px;
    margin-left: 0;
    width: 100%;
}

a.download {
    display: none;
}

.entry {
    background: url(common/graphics/background.jpg) center center;
    background: #eb7260;
    background-size: cover;
    height: auto;
    overflow: auto;
    padding: 50px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.entry .logo {
    font-size: .8em;
}

.entry .logo h1,.entry .logo h2 {
    color: #fff;
    margin: 0;
}

.entry .logo h1 {
    font-family: wisdom_script_airegular;
    font-size: 8em;
    line-height: 0.9;
}

.entry .logo h2 {
    font-family: omnes-pro;
    font-size: 1.1em;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.entry .logo span {
    margin: 0;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.entry .logo .col1 {
    -webkit-animation: fade-in-col1 5s infinite 2s alternate;
    -moz-animation: fade-in-col1 5s infinite 2s alternate;
    -o-animation: fade-in-col1 5s infinite 2s alternate;
    animation: fade-in-col1 5s infinite 2s alternate;
}

.entry .logo .col2 {
    -webkit-animation: fade-in-col2 5s infinite 3s alternate;
    -moz-animation: fade-in-col2 5s infinite 3s alternate;
    -o-animation: fade-in-col2 5s infinite 3s alternate;
    animation: fade-in-col2 5s infinite 3s alternate;
}

.entry .logo .col3 {
    -webkit-animation: fade-in-col3 5s infinite 4s alternate;
    -moz-animation: fade-in-col3 5s infinite 4s alternate;
    -o-animation: fade-in-col3 5s infinite 4s alternate;
    animation: fade-in-col3 5s infinite 4s alternate;
}

.entry .logo .col4 {
    -webkit-animation: fade-in-col4 5s infinite 5s alternate;
    -moz-animation: fade-in-col4 5s infinite 5s alternate;
    -o-animation: fade-in-col4 5s infinite 5s alternate;
    animation: fade-in-col4 5s infinite 5s alternate;
}

.key-points div {
    background: #eb7260;
    color: #fff;
    padding: 14px;
    position: relative;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.key-points div p {
    text-align: justify;
}

.key-points div h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: .03em;
    text-transform: uppercase;
}

.key-points div img {
    margin: 30px 0;
}

.key-points div .base-icon,.key-points div .download,.key-points div .github,.key-points div .feedback {
    height: 87px;
    margin: 30px auto;
    width: 100px;
}

.key-points div .base-icon {
    background: url(common/graphics/base-icon.svg) center center no-repeat;
}

.key-points div .download {
    background: url(common/graphics/download.svg) center center no-repeat;
}

.key-points div .github {
    background: url(common/graphics/github.svg) center center no-repeat;
}

.key-points div .feedback {
    background: url(common/graphics/feedback.svg) center center no-repeat;
}

.demo p {
    margin-bottom: 1em;
}

.demo header {
    background: #eb7260;
    height: auto;
    overflow: auto;
    padding: 30px 0;
    text-align: center;
}

.demo h1,.demo h2,.demo h3,.demo h4 {
    border-bottom: 1px dashed #eb7260;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.demo .row {
    border-top: 3px solid #eb7260;
    margin: 10px 0;
    padding: 10px 0;
}

.demo .row:first-child {
    border-top: 0 solid #eb7260;
}

.demo footer {
    border-top: 1px solid #eb7260;
    clear: both;
    margin: 10px 0;
    padding: 10px 0;
}

.demo .round-corner-box {
    border: 1px solid #eb7260;
    margin: 5px 0 15px;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.demo p.text-shadow {
    text-shadow: 0 1px 1px #eb7260;
}

.demo .animate:hover {
    color: green;
    -moz-transition: color 1s linear 0;
    -webkit-transition: color 1s linear 0;
    -o-transition: color 1s linear 0;
    transition: color 1s linear 0;
}

@font-face {
    font-family: wisdom_script_airegular;
    src: url(common/fonts/wisdom_script-webfont.eot);
    src: url(common/fonts/wisdom_script-webfont.eot?#iefix) format(embedded-opentype),url(common/fonts/wisdom_script-webfont.woff) format(woff),url(common/fonts/wisdom_script-webfont.ttf) format(truetype),url(common/fonts/wisdom_script-webfont.svg#wisdom_script_airegular) format(svg);
    font-weight: 400;
    font-style: normal;
}

@-webkit-keyframes fade-in-col1 {
    0color: #fff;
}

100% {
    color: #f39c12;
}

}

@-moz-keyframes fade-in-col1 {
    0color: #fff;
}

100% {
    color: #f39c12;
}

}

@-o-keyframes fade-in-col1 {
    0color: #fff;
}

100% {
    color: #f39c12;
}

}

@keyframes fade-in-col1 {
    0color: #fff;
}

100% {
    color: #f39c12;
}

}

@-webkit-keyframes fade-in-col2 {
    0color: #fff;
}

100% {
    color: #3498db;
}

}

@-moz-keyframes fade-in-col2 {
    0color: #fff;
}

100% {
    color: #3498db;
}

}

@-o-keyframes fade-in-col2 {
    0color: #fff;
}

100% {
    color: #3498db;
}

}

@keyframes fade-in-col2 {
    0color: #fff;
}

100% {
    color: #3498db;
}

}

@-webkit-keyframes fade-in-col3 {
    0color: #fff;
}

100% {
    color: #1abc9c;
}

}

@-moz-keyframes fade-in-col3 {
    0color: #fff;
}

100% {
    color: #1abc9c;
}

}

@-o-keyframes fade-in-col3 {
    0color: #fff;
}

100% {
    color: #1abc9c;
}

}

@keyframes fade-in-col3 {
    0color: #fff;
}

100% {
    color: #1abc9c;
}

}

@-webkit-keyframes fade-in-col4 {
    0color: #fff;
}

100% {
    color: #2ecc71;
}

}

@-moz-keyframes fade-in-col4 {
    0color: #fff;
}

100% {
    color: #2ecc71;
}

}

@-o-keyframes fade-in-col4 {
    0color: #fff;
}

100% {
    color: #2ecc71;
}

}

@keyframes fade-in-col4 {
    0color: #fff;
}

100% {
    color: #2ecc71;
}

}