@media only screen and max-width 995px {
    body {
        min-width: 768px;
    }
    
    .carousel1 li span {
        font-size: 60px;
    }
    
    .car_div {
        height: 286px;
    }
    
    .nowrap {
        white-space: normal;
    }
    
    .map address {
        float: left;
        margin-right: 50px;
    }
    
    .map address+address {
        margin-top: 0;
    }
    
    .map figure,.map figure iframe,#form input,#form textarea,#form .success {
        width: 100% !important;
        float: none;
    }
    
    #form .success {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .map figure {
        height: auto !important;
    }
    
    .extra_wrapper {
        overflow: visible;
    }
    
    .inner1 img {
        margin-right: 0 !important;
        float: none !important;
        width: 100% !important;
    }

}

@media only screen and (max-width: 767px) {
    body {
        min-width: 420px;
    }
    
    ul.list li {
        padding-bottom: 20px;
    }
    
    #search {
        float: none;
        margin-bottom: 30px;
        width: auto;
    }
    
    .carousel1 li br {
        display: block;
    }
    
    .carousel1 li span {
        font-size: 50px;
    }
    
    .carousel1 li {
        font-size: 25px;
    }
    
    .socials {
        float: none;
    }
    
    .clear.cl1 {
        height: 0;
    }
    
    .car_div {
        height: 233px;
    }
    
    .img-inner {
        width: 100% !important;
        float: none !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }
    
    .box img {
        width: auto !important;
        float: left !important;
        margin-right: 15px !important;
    }
    
    header {
        position: relative;
    }
    
    header h1 {
        float: none;
    }
    
    header h1 a {
        height: auto;
        margin: 0 auto !important;
        text-align: right;
    }
    
    header h1 a img {
        margin: 0 auto;
    }
    
    .map figure iframe {
        width: 100%;
        height: 300px;
    }
    
    .map address {
        margin-right: 0;
    }
    
    .map address+address {
        margin-left: 20px;
    }
    
    .content .noresize {
        width: auto !important;
        float: left !important;
        margin-right: 20px !important;
        margin-top: 4px !important;
    }
    
    .img-inner {
        margin-top: 20px;
    }
    
    a.various img {
        width: 100%;
    }
    
    .post {
        margin-bottom: 25px !important;
    }
    
    ul.list.l2 {
        padding-top: 30px;
    }

}

@media only screen and (max-width: 479px) {
    body {
        min-width: 300px;
    }

    .carousel1 li {
        padding-top: 50px;
    }

    a.next,a.prev {
        margin-bottom: 30px;
    }

    .car_div {
        height: 220px !important;
    }

    .car_bg {
        background-position: 0 0;
    }

    .carousel1 li span {
        font-size: 45px;
    }

    .map address {
        float: none;
    }

    .map address+address {
        margin-left: 0;
        margin-top: 20px;
    }

    .car_div {
        height: 287px;
    }

    .map figure iframe {
        width: 100%;
        height: 200px;
    }
}


@media only screen and max-width 995px {
    .sf-menu>li>a {
        min-width: 127px;
    }
    
    .sf-menu>li:first-child {
        padding-right: 2px;
    }
    
    .sf-menu li.sfHover li.sfHover ul {
        width: 125px !important;
    }

}

@media only screen and max-width 767px {
    .menu_block {
        float: none !important;
        margin: 0 !important;
        padding: 20px 10px 25px;
        clear: both;
        min-height: 0;
    }
    
    header nav {
        float: none;
        font: 12px/15px Arial,Helvetica,sans-serif;
        text-transform: uppercase;
        color: #927c67;
        margin: 0 auto;
    }
    
    nav:before {
        content: 'Menu:';
        font-family: 'Open Sans',sans-serif;
        display: block;
        font-weight: 700;
        margin-bottom: 5px;
        color: #fff;
    }
    
    .sf-menu {
        display: none !important;
        float: none;
    }
    
    #mm0 {
        font: 12px/15px Arial,Helvetica,sans-serif;
        color: #202020;
        width: 100%;
        margin: 0 auto;
        float: none;
        outline: none;
        border: 2px solid #fff;
    }
    
    .search_block {
        padding-bottom: 10px !important;
    }

}
@media only screen and max-width 995px {
    #form {
        padding-top: 0;
    }
    
    #form label {
        float: none !important;
        width: 100%;
    }
    
    #form input {
        margin-bottom: 10px;
    }
    
    #form label.message {
        width: 100% !important;
    }
    
    #form .success {
        width: 100%;
    }
    
    .btns {
        padding-right: 0;
    }
    
    #form label.email {
        width: 100%;
        margin: 0;
    }

}

@media only screen and max-width 767px {
    .map {
        margin-bottom: 25px;
    }
    
    .btns {
        padding-bottom: 0;
    }
    
    #form textarea {
        height: 300px !important;
    }
    
    #form {
        padding-right: 0;
    }

}

@media only screen and max-width 479px {
    #form textarea {
        height: 200px !important;
    }

}