<section id="courses" class="courses-section">
	<div class="container courses-header-text">
        <div class="offset2 span8">
            <h1>Engage. Enlighten. Empower</h1>

            <p class="lead">Let Rapid fulfil your training needs. Click below to select a course.</p>
        </div>
	</div>
	<div class="container">
		<accordion close-others="true">
			<accordion-group heading="{{group.title}}" ng-repeat="group in groups">
				<h4 class="courses-h4">Duration: {{ group.duration }}</h4>
				<p class="lead">{{group.content}}</p>

				<ul data-ng-repeat="objective in group.objectives">
					<li>{{ objective }}</li>
				</ul>
				
			</accordion-group>
		</accordion>
	</div>
</section>