<section id="courseswrap" 
    data-ng-controller="courseController">
    <div class="container">
        <h2 class="page-title" 
            data-ng-bind="courseCntl.pagetitle"></h2>
        <p>{{ courseCntl.pagelead1 }}{{ courseCntl.pagelead2 }}</p>
        <br>
        <div class="row">
            <div class="span4" 
                data-ng-repeat="course in courseCntl.courses">
                <div class="mask">
                    <h4>{{ course.title }} ({{course.duration}})</h4>
                    <p data-ng-bind="course.content"></p>
                    <br>
                    <ul class="mask-list" 
                        data-ng-repeat="item in course.objectives">
                        <li><p data-ng-bind="item"></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>