<!-- ==================================================

Viewname    : Home
RouterName  : /home
Controller  : pitchController 
Purpose     : Attraction mode for the Landing Page

================================================== -->
<section id="services" data-ng-controller="pitchController">
   <br>

   <div id="servicewrap">
      <div class="container">
         <div class="row-fluid">
            <div class="span4" data-ng-repeat="item in homeCntl.pitchItem">
               <div class="mask">
                  <img data-ng-src="{{item.icon}}" alt="">
                  <h3>{{item.hdr1}} - {{item.hdr2}}</h3>
                  <p>{{ item.text}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container">
      <hr><br>
      <div class="row media">
         <img src="img/brian.jpg" alt="" class="media-object pull-left">
         <div class="media-body">
            <h1 class="media-heading">{{ homeCntl.pitchCommitment.hdr1 }}</h1>
            <h2>{{ homeCntl.pitchCommitment.hdr2 }}</h2>
            <p>{{ homeCntl.pitchCommitment.text }}</p>
            <ul data-ng-repeat="item in homeCntl.pitchCommitment.list">
               <li>{{ item }}</li>
            </ul>
         </div>
      </div>
   </div>

   <div id="quoteswrap">
      <div class="container">
         <hr><br>
         <div class="row">
            <div class="span4" data-ng-repeat="quote in homeCntl.pitchQuotes">
               <div class="mask">
                  <blockquote>
                     &quot;{{ quote.text }}&quot;
                     <small>{{ quote.cite }}</small>
                  </blockquote>
               </div>
            </div>
         </div>
      </div>
   </div>
   <br>
</section>