<div class="content">
	<div class="container-fluid">
		<div class="container">
			<h3>
				Our Courses
			</h3>
			<accordion close-others="true">
				<accordion-group heading="{{group.title}}" data-ng-repeat="group in groups">
					<h4>Course: {{ group.title}} >>	Duration: {{ group.duration }}</h3>
					{{group.content}}
					<ul class="gen-list-style1" data-ng-repeat="objective in group.objectives">
						<li>{{ objective }}</li>
					</ul>
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>