<section id="courses">
    <br>
    <br>
</section>

<section id="courseswrap" data-ng-controller="courseController">
    <div class="container">
        <br>
        <h2>{{ courseCntl.pagetitle }}</h2>
        <p>{{ courseCntl.pagelead1 }}{{ courseCntl.pagelead2 }}</p>
        <div class="row">
            <div class="span4" data-ng-repeat="course in courseCntl.courses">
                <div class="mask">
                    <h3>{{ course.title }} ({{ course.duration }})</h3>
                    <p>{{ course.content }}</p>
                    <ul class="courselist" data-ng-repeat="item in course.objectives">
                        <li>{{ item }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
</section>