<!DOCTYPE html>
<!--[if lt IE 7]>      <html data-ng-app="appRapid" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html data-ng-app="appRapid" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html data-ng-app="appRapid" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html data-ng-app="appRapid" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Rapid Testing &middot; Software Testing | Test Management | Test Training</title>

        <meta name="description" content="Rapid Testing - Software Testing | Test Management | Test Training">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Ubuntu:400,700' rel='stylesheet' type='text/css'>

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>

    <body class="clearfix">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- BEGIN: Sticky Header
        ================================================== -->
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-inner">

                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="brand" href="#/home"><img src="img/logo.png" /></a>

                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right" data-ng-controller="menuController">
                            <li data-ng-repeat="item in menuItems"
                                data-ng-class="(item.menuRoute == location.path() && 'active')">
                                <a href="#{{ item.menuRoute }}">{{ item.menuName }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Sticky Header -->

        <!-- BEGIN: Content View
        ================================================== -->
        <div class="clearfix" data-ng-view=""></div>
        <!-- END: Content View -->

        <!-- BEGIN: Footer
        ================================================== -->
        <footer>
            <div class="text-center" data-ng-controller="menuController" >
                <a class="btn btn-link"
                    data-toggle="tooltip" title="{{ item.menuName }}"
                    data-ng-repeat="item in menuItems"
                    data-ng-class="(item.menuRoute == location.path() && 'active')"
                    href="#{{ item.menuRoute }}"><img ng-src="{{ item.menuIcon }}"></i></a>
            </div>
        </footer>
        <!-- END: Footer -->

        <!-- Scripts
        ================================================== -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Angular Scripts -->
        <script src="js/vendor/angular.min.js"></script>

        <script type="text/javascript">
            'use strict';

            var appRapid = angular.module('appRapid', []);

            // Router config for views
            // ==================================================
            appRapid.config(function ($routeProvider) {
                $routeProvider
                    .when('/home', { controller: 'carouselController', templateUrl: 'htm/home.htm'})
                    .when('/services', { controller: 'simpleController', templateUrl: 'htm/services.htm'})
                    .when('/courses', { controller: 'simpleController', templateUrl: 'htm/courses.htm'})
                    .when('/media', { controller: 'simpleController', templateUrl: 'htm/media.htm'})
                    .when('/blog', { controller: 'feedController', templateUrl: 'htm/blog.htm'})
                    .when('/contact', { controller: 'simpleController', templateUrl: 'htm/contact.htm'})
                    .otherwise({ redirectTo: '/home' });
            });

            // Controller/Model Definition
            // ==================================================
            var controllers = {};

            // Dummy model for views that do not require data
            controllers.simpleController = function ($scope) {};

            // Menu model
            controllers.menuController = function ($scope, $location) {
                $scope.location = $location;
                $scope.menuItems = [
                    {menuRoute: '/home', menuIcon: 'img/shop.svg', menuName: 'Home'},
                    {menuRoute: '/services', menuIcon: 'img/lab.svg', menuName: 'Services'},
                    {menuRoute: '/courses', menuIcon: 'img/study.svg', menuName: 'Courses'},
                    {menuRoute: '/media', menuIcon: 'img/photo.svg', menuName: 'Media'},
                    {menuRoute: '/blog', menuIcon: 'img/news.svg', menuName: 'Blog'},
                    {menuRoute: '/contact', menuIcon: 'img/mail.svg', menuName: 'Contact'}
                ];
            };

            // Carousel model
            controllers.carouselController = function ($scope) {
                $scope.carouselItems = [
                    {   carouselImage: 'img/caro1.jpg', carouselHeading: 'Test Consultancy',
                        carouselText: 'Rapid can show you how to develop organisational test policies and enterprise test strategies that fit with the way you deliver your projects and take into account your tolerance for business risk.',
                        carouselLink: '/services', carouselLinkText: 'Sign up today', },
                    {   carouselImage: 'img/caro2.jpg', carouselHeading: 'Test Management',
                        carouselText: 'Our Test Managers are experienced in industry best practices and can implement test frameworks that are structured, efficient and relevant. They bring vast levels of experience and extensive market knowledge to your projects.',
                        carouselLink: '/courses', carouselLinkText: 'Learn More', },
                    {   carouselImage: 'img/caro3.jpg', carouselHeading: 'Test Training',
                        carouselText: 'Rapid works collaboratively with your own staff and are able to bring our world-class test capabilityto ensure you realise the benefits of adopting a testing culture in your organisation.',
                        carouselLink: '/media', carouselLinkText: 'Browse Gallery', }
                ];
            };

            appRapid.controller(controllers);
        </script>

        <!-- Google Analytics -->
        <script>
            // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            // g.src='//www.google-analytics.com/ga.js';
            // s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
