<!DOCTYPE html>
<!--[if lt IE 7]>      <html data-ng-app="appRapid" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html data-ng-app="appRapid" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html data-ng-app="appRapid" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html data-ng-app="appRapid" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Rapid Testing &middot; Software Testing | Test Management | Test Training</title>

        <meta name="description" content="Rapid Testing - Software Testing | Test Management | Test Training">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-responsive.css">
        <link rel="stylesheet" href="css/main.css">

        <!-- <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
        <script src="js/vendor/modernizr.custom.js"></script>

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    </head>

    <body class="clearfix">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- BEGIN: Sticky Header
        ================================================== -->
        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">

                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="brand" href="#/home"><img src="img/logo.png" /></a>

                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right" data-ng-controller="menuController">
                            <li data-ng-repeat="item in menuItems"
                                <li data-ng-repeat="item in menuItems"
                                data-ng-class="(item.menuRoute == location.path() && 'active')">
                                    <a href="#{{ item.menuRoute }}"><!-- <i class="{{ item.menuIcon }}"></i> -->{{ item.menuName }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END: Sticky Header -->

        <!-- BEGIN: Content View
        ================================================== -->
        <div data-ng-view=""></div>
        <!-- END: Content View -->

        <!-- BEGIN: Footer
        ================================================== -->
        <footer>
            <div class="container">
                <div class="row">

                    <!-- Use the Angular menuController to sync the header/footer menus -->
                    <div class="text-center" data-ng-controller="menuController" >
                        <a class="btn btn-link"
                            data-toggle="tooltip" title="{{ item.menuName }}"
                            data-ng-repeat="item in menuItems"
                            data-ng-class="(item.menuRoute == location.path() && 'active')"
                            href="#{{ item.menuRoute }}"><i class="{{ item.menuIcon }}"></i></a>
                    </div>

                </div>
            </div>
        </footer>
        <!-- END: Footer -->

        <!-- Scripts
        ================================================== -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Angular Scripts -->
        <script src="js/vendor/angular.min.js"></script>

        <script type="text/javascript">
            'use strict';

            var appRapid = angular.module('appRapid', []);

            appRapid.config(function ($routeProvider) {
                $routeProvider
                    .when('/home', { controller: 'simpleController', templateUrl: 'htm/home.htm'})
                    .when('/services', { controller: 'simpleController', templateUrl: 'htm/services.htm'})
                    .when('/courses', { controller: 'simpleController', templateUrl: 'htm/courses.htm'})
                    .when('/media', { controller: 'simpleController', templateUrl: 'htm/media.htm'})
                    .when('/blog', { controller: 'feedController', templateUrl: 'htm/blog.htm'})
                    .when('/contact', { controller: 'simpleController', templateUrl: 'htm/contact.htm'})
                    .otherwise({ redirectTo: '/home' });
            });

            var controllers = {};

            controllers.menuController = function ($scope, $location) {
                $scope.location = $location;
                $scope.menuItems = [
                    {menuRoute: '/home', menuIcon: 'icon-home', menuName: 'Home'},
                    {menuRoute: '/services', menuIcon: 'icon-cog', menuName: 'Services'},
                    {menuRoute: '/courses', menuIcon: 'icon-user', menuName: 'Courses'},
                    {menuRoute: '/media', menuIcon: 'icon-camera', menuName: 'Media'},
                    {menuRoute: '/blog', menuIcon: 'icon-book', menuName: 'Blog'},
                    {menuRoute: '/contact', menuIcon: 'icon-envelope', menuName: 'Contact'}
                ];
            };

            controllers.simpleController = function ($scope) {};

            appRapid.controller(controllers);

            appRapid.controller("feedController", ['$scope','feedFactory', function ($scope,Feed) {
                $scope.loadFeed=function(e){
                    Feed.parseFeed("http://bjosman.wordpress.com/feed/").then(function(res){
                        $scope.feeds=res.data.responseData.feed.entries;
                    });
                }
            }]);

            appRapid.factory('feedFactory',['$http', function($http) {
                return {
                    parseFeed : function(url) {
                        return $http.jsonp('//ajax.googleapis.com/ajax/services/feed/load?v=1.0&num=50&callback=JSON_CALLBACK&q=' + encodeURIComponent(url));
                    }
                }
            }]);
        </script>

        <!-- Featurette Scroller Engine -->
        <script src="js/vendor/classie.js"></script>
        <script src="js/vendor/cbpScroller.js"></script>

        <!-- Google Analytics
        <script>
            // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            // g.src='//www.google-analytics.com/ga.js';
            // s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>  -->
    </body>
</html>
